/* Sector: Recipes main classes */

.recipesPage {
  width: 100%;
}

.recipesPageIntro {
  width: 100%;

  position: relative;
}

.slider {
  display: flex;

  overflow: hidden;
}
.sliderItem {
  padding: 20px;
  box-sizing: border-box;
}

.actionBtnCont {
  width: 90%;
  max-width: 120rem;

  margin: 0 auto;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.recipesPageIntroCont {
  width: 90%;
  height: 50vh;

  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 0;

  background-size: cover;
  background-position: center center;
}

.recipesPageIntroCont h1 {
  font-size: 4rem;

  color: var(--color-pr);
}

.recipeDetailsCont {
  width: 90%;
  height: auto;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.recipeDetailsCont h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.recipeDetailsCont p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;

  color: var(--color-tex-l2);

  margin-top: 1rem;
}

.sliderCont {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btnsCont {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sliderBtn {
  padding: 1rem 2rem;

  border-radius: 0.7rem;

  background-color: var(--color-te);

  cursor: pointer;
}
.subRecipeCategoriesCont {
  width: 100%;
  height: auto;

  border-radius: 0.4rem;

  padding: 2rem;
  margin-top: 1rem;

  background-color: var(--color-te);

  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 2rem;
}
