/* Sector: DoActionBtn main styles */

.doActionBtnBody button {
  font-size: 1.2rem;

  border: none;
  padding: 1rem 2rem;

  border-radius: 0.5rem;
  background-color: var(--color-se);
  color: var(--color-wh);

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
}

.doActionBtnBody button:hover {
  background-color: var(--color-se-l1);
}

.iconCont,
.textCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconClass {
  font-size: 1.2rem;
  color: var(--color-wh);
}
