/* Sector: AddNewRecipe main classes */

.addNewRecipePage {
  width: 100%;
}

.addNewRecipePageCont {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;

  border-radius: 4px;
}

.addNewRecipePageCont header {
  width: 100%;

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  border-bottom: 1px solid var(--color-gr);
}

.addNewRecipePageCont header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.addNewRecipePageCont header .icon {
  width: 2.2rem;
  height: auto;
}

.addNewRecipePageCont header h3 {
  font-size: 3rem;

  color: var(--color-pr);
}

.addNewRecipePageCont form {
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.addNewRecipePageCont form input,
.addNewRecipePageCont form select,
.addNewRecipePageCont form textarea {
  width: 100%;

  padding: 1rem;

  background-color: var(--color-gr);
  border: 1px solid var(--color-gr-d1);
  outline: none;
  border-radius: 0.4rem;

  font-size: 1.4rem;
  font-family: inherit;

  color: var(--color-tex-l3);
}

.addNewRecipePageCont form input::placeholder,
.addNewRecipePageCont form textarea::placeholder {
  font-size: 1.4rem;

  color: var(--color-tex-l3);
}

.ingredientsCont {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addNewRecipePageCont form button {
  padding: 1rem 2rem;

  border: none;
  border-radius: 0.5rem;

  background-color: var(--color-se-l1);
  color: var(--color-wh);

  font-family: inherit;
  font-size: 1.4rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.addNewRecipePageCont form button:hover {
  background-color: var(--color-se-l2);
}

.imageUploadCont {
  width: 100%;
}

.imageUploadCont p {
  font-size: 1.2rem;

  color: var(--color-tex-d1);
}

/* Sector: media quires */

/* 560px / 16px = 35 */
@media (max-width: 35em) {
  .addNewRecipePageCont header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

/* 384px / 16px = 24 */
@media (max-width: 24em) {
  .addNewRecipePageCont header h3 {
    font-size: 2.5rem;
  }

  .imageUploadCont p {
    font-size: 1rem;
  }
}
